/*
nav *,
nav div *,
.nav-item,
ul li {
    font-weight: bolder;
}

ul li {
    font-weight: bolder;
}

.nav-item {
    margin: 3px;
}

.navbar li,
.navbar li a,
ul li a ul li {
    padding-right: 0px;
}
*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* nav button, */

#groupeboutons a {
    color: white;
    font-size: 1rem;
}

.navbar-toggler {
    color: white;
}

nav img {
    /* width: 150px; */
    width: 6rem;
    height: 6rem;
}

ul li a,
a:hover {
    color: white;
    font-size: 1rem.2;
}

nav {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(81, 58, 42);
    background-color: black;
    /*barre de navigation 'clouée' en haut*/
    position: fixed;
    /* position: sticky; - ne convient pas...*/
    border-radius: 5px;
    margin-top: 0px;
    top: 0px;
    /*z-index: 20%;*/
    align-items: center;
    /* padding: 1rem 1.5rem; */
}


/* a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: inherit;
    } */


/*ci-dessous : style du menu de navigation
    le logo et le groupe des items
    ne doivent pas se replier à la ligne*/

.menunavigation {
    display: flex;
    flex-flow: row nowrap;
}

.groupeboutons {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.navbar-toggler {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}


/*     */

body {
    font-family: Helvetica, sans-serif;
}


/*Ce fichier est aussi utilisé
     dans la page a propos. Là nous
     avons l'adresse et données de contact*/

address {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    padding-top: 3rem;
}

header h1 {
    color: #513a2a;
    /*RAL 8028*/
    border-radius: 5px;
    margin: 1.5rem 0;
    background-color: rgb(81, 58, 42, 100%);
    color: gold;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 1.25rem;
    padding-top: 8.3rem;
}


/* .navbar {
    margin-bottom: 15px;
} */

h1 {
    margin-top: 15px;
}

.totalite-palts {
    margin-bottom: 100px;
}

.cplat {
    /* background-color: lightblue; */
    height: 330px;
    width: 325px;
    background-color: rgb(248, 248, 149);
    transition-property: background-color;
    transition-duration: 0.5s;
    margin: 5px;
}

.cplat:hover {
    background-color: rgb(238, 186, 144);
    cursor: pointer;
    /* pointer-events: ; */
}

.ch-plat h4,
.cf-plat p {
    margin: 0px;
    padding-top: 3px;
    /* padding-right: 3px; */
    padding-left: 3px;
    font-weight: 900;
}

.ch-plat h4 {
    font-size: 1em;
    height: 1.5em
}

.cb-plat img {
    width: 320px;
    height: 220px;
}


/* .card-footer,
.card-footer p,
.card-footer p a {
    font-weight: bolder;
} */


/* Conteneur des plats */

.flexbox-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /*FLEX DIRECTION*/
    /*On regroupe !!!*/
    /* flex-direction: row-reverse; */
    /*justify-content: stretch;*/
    /*ALIGN ITEMS */
    /*ALIGN CONTENT*/
    /*flex-shrink*/
}

.boisson {
    font-family: Helvetica, Impact, sans-serif;
    margin: 3px;
    padding: 0.5em;
    background-color: lightblue;
    font-weight: bolder;
    width: 200px;
    border-radius: 10px;
}

.boisson:nth-child(odd) {
    background-color: darkturquoise;
    /*border-radius: ;*/
}

.boisson:nth-child(even) {
    background-color: lightskyblue;
}

footer {
    display: flex;
    width: 100%;
    flex-flow: row;
    position: fixed;
    height: 3em;
    bottom: 0;
    margin-bottom: 0.2em;
    width: 100%;
    background-color: rgb(248, 248, 149);
    /* margin-top: 120px; */
}

footer a button {
    height: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 5px;
    background-color: rgb(0, 26, 255);
    font-size: 1.3em;
    padding: 0.3em;
    color: white;
    border-radius: 10px;
    /* margin-bottom: 5px; */
}


/* .nav-item {
        width: 250px;
        font-weight: normal;
    } */


/*Obligé de limiter la taille de la police car on
 a trop d'items (types de plats)' et on ne peut scroller
 au sein de la navbar une fois déroulée*/

.nav-link {
    font-size: 0.8rem;
}


/*@media only screen and (max-width:480px) {
        .dropdown-menu {
            display: block;
            position: static;
            background-color: transparent;
            border: 0 none;
            box-shadow: none;
            margin-top: 0;
            position: static;
            width: 100%;
        }
    }*/

.symboleIcone {
    font-size: 2rem;
}


/*     
    .boutonAPropos {
        background-color: goldenrod;
    } */