{% extends 'base.html.twig' %}

{% block title %}新订单 - Nouvelle commande
{% endblock %}

{% block body %}
	<h1>%}新订单 - Nouvelle commande</h1>

	{{ include('commande/_form.html.twig') }}

	<a href="{{ path('commande_index') }}">客户订单清单 - Liste des commandes client</a>
{% endblock %}
