<form method="post" action="{{ path('categorie_plat_delete', {'id': categorie_plat.id}) }}" onsubmit="return confirm('您是真的想删掉这个菜式吗 ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_plat.id) }}">
	<button class="btn">Delete</button>
</form>
