{% extends 'base.html.twig' %}

{% block title %}Edit CategoriePlat{% endblock %}

{% block body %}
    <h1>Edit CategoriePlat</h1>

    {{ include('categorie_plat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorie_plat_index') }}">back to list</a>

    {{ include('categorie_plat/_delete_form.html.twig') }}
{% endblock %}
