{% extends 'base.html.twig' %}

{% block title %}New CategoriePlat{% endblock %}

{% block body %}
    <h1>Create new CategoriePlat</h1>

    {{ include('categorie_plat/_form.html.twig') }}

    <a href="{{ path('categorie_plat_index') }}">back to list</a>
{% endblock %}
