{% extends 'base.html.twig' %}

{% block title %}New CategoriePlat
{% endblock %}

{% block stylesheets %}
	{#{{ encore_entry_link_tags('app') }}#}
	<link href="{{ asset('/css/style.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<h1>请您添加一种菜肴</h1>

	{{ include('categorie_plat/_form.html.twig') }}

	<a href="{{ path('categorie_plat_index') }}">回到菜肴种类清单</a>
{% endblock %}
