{# <nav class="navbar class bg-dark navbar-dark fixed-top listederoulante"> #}
<nav class="navbar fixed-top navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img src="{{ asset('img/icones/logoao.jpg') }}" alt="Restaurant Aigle d'Orient - 露凝香•川味居" class="logoimg"/></a>


		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<a class="nav-link" href="./apropos.html">关于 - &Agrave; propos / Contact<span class="sr-only"></span>
		</a>

	</div>
</div>

<div class="collapse navbar-collapse navbar-inverse black listederoulante" id="navbarSupportedContent">
	<ul class="navbar-nav ml-auto listederoulante">
		<li class="nav-item active">
			<a class="nav-link text-uppercase" href="#">Link</a>
		</li>
	</ul>
</div></nav>
