<form method="post" action="{{ path('plat_delete', {'id': plat.id}) }}" onsubmit="return confirm('您是真的想删掉这个菜吗 ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plat.id) }}">
	<button class="btn">删掉这个菜</button>
</form>
