{% extends 'base.html.twig' %}

{% block title %}加一道菜 - Ajouter un plat
{% endblock %}

{% block body %}
	<h1>加一道菜 - Ajouter un plat</h1>

	{{ include('plat/_form.html.twig') }}

	<a href="{{ path('plat_index') }}">回到菜单 - Retour à la liste des plats</a>
{% endblock %}
